<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sdkit_department_listing_data_source" xsi:type="string">SdkitOfficeDepartmentCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="SdkitOfficeDepartmentCollection" type="Sdkit\Office\Ui\DataProvider\Department\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">skdit_office_department_v1</argument>
            <argument name="resourceModel" xsi:type="string">Sdkit\Office\Model\ResourceModel\Department</argument>
        </arguments>
    </virtualType>

</config>
